<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<appSettings>
		<add key="TypeDAL" value="DB" />
		<add key="TypeBLL" value="BaseLogic" />
		<add key="FilePath" value="D:\\repos\\SKBTesting\\FileDB.txt" />
		<add key="DBConnectionString" value="Server=.\SQLEXPRESS;Database=SKBDataBase;Trusted_Connection=True;TrustServerCertificate=True;" />
	</appSettings>
</configuration>
